@inject NavigationManager navigationManager

<div class="kcr-sidebar">

    <img src="/Img-Vector/Union-1.svg" class="sidebar-decor" />

    <div class="sidebar-header">
        <a href="">
            <img src="/Img-Vector/logoKCR.png" alt="KCR Print Center" class="logo-img" />
        </a>
    </div>

    <nav class="flex-column nav-menu-container">

        <NavLink class="nav-item-custom" href="registro-empleado" Match="NavLinkMatch.All">
            <div class="nav-content">
                <span class="icon-box-left">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>

                <span class="text">Registrar Empleado</span>
            </div>
        </NavLink>

        <NavLink class="nav-item-custom" href="lista-empleados">
            <div class="nav-content">
                <span class="icon-box-left">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 6H21M8 12H21M8 18H21M3 6H3.01M3 12H3.01M3 18H3.01" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="text">Lista de Empleados</span>
            </div>
        </NavLink>

        <button type="button" class="nav-item-custom" @onclick="GoToModificarQuery">
            <div class="nav-content">
                <span class="icon-box-left">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z" />
                    </svg>
                </span>
                <span class="text">Modificar</span>
            </div>
        </button>

    </nav>

    <div class="sidebar-footer">
        <button class="btn-logout">
            <span class="icon-box-left">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4M16 17l5-5-5-5M21 12H9" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
            Cerrar sesión
        </button>
    </div>
</div>

@code {
    void GoToModificarQuery() => navigationManager.NavigateTo("/registro-empleado?mode=modificar");
}