@inherits LayoutComponentBase
@rendermode InteractiveServer

<div class="kiosk-container">
    <header class="kiosk-header">
        <div class="header-left">
            <img src="img-Vector/logoKCR.png" alt="KCR Print Center" class="header-logo-img" />
        </div>

        <div class="header-center">
            SISTEMA DE TURNOS
        </div>

        <div class="header-right">
            HORA <CLock />
        </div>
    </header>

    <main class="kiosk-content">
        @Body
    </main>

    <div class="decorations">
        <img src="/Img-Vector/Union.svg" class="vector-decor top-left" alt="" />
        <img src="/Img-Vector/Union-1.svg" class="vector-decor top-right" alt="" />
        <img src="/Img-Vector/Union-2.svg" class="vector-decor bottom-left" alt="" />
        <img src="/Img-Vector/Union.svg" class="vector-decor bottom-right" alt="" />
    </div>
</div>

@code {
    private string currentTime = DateTime.Now.ToString("hh:mm:ss");
    // Usamos CancellationTokenSource para detener el bucle cuando el componente se destruye
    private CancellationTokenSource _clockCts = new CancellationTokenSource();

    
}