@page "/cliente"
@layout ClientLayout

@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ClienteService clienteservice

<div class="client-grid">

    <div class="left-panel-carousel">
        <h2 class="carousel-title">¡Conócenos!</h2>
        <div class="carousel-frame">

            <img src="@currentImage" class="carousel-img fade-animation" key="@currentImage" />

        </div>
    </div>

    <div class="right-panel-form">
        <h1 class="welcome-title">Bienvenidos/as</h1>
        <div class="form-card">


            <div class="form-group">
                <label>Cédula (Opcional):</label>
                <input type="text" placeholder="000-0000000-0" @bind="cedula" class="styled-input" />
            </div>

            <div class="form-group">
                <label class="required">Digite su nombre:</label>
                <input type="text" placeholder="Nombre" @bind="nombre" class="styled-input" />
            </div>

            <div class="form-group">
                <label class="required">Teléfono/WhatsApp:</label>
                <input type="text" placeholder="000-000-0000" @bind="telefono" class="styled-input" />
            </div>
            
            <div class="form-group">
                <label class="required">Correo (Opcional):</label>
                <input type="text" placeholder="Ejemplo@kcr.com" @bind="correo" class="styled-input" />
            </div>


        </div>
        <div class="action-buttons">
            <button class="btn-outline" @onclick="LimpiarFormulario">BORRAR</button>
            <button class="btn-solid" @onclick="ProcesarTurno">SIGUIENTE</button>
        </div>
    </div>

</div>

@code {
    @implements IDisposable

    private string nombre { get; set; } = string.Empty;
    private string cedula { get; set; } = string.Empty;
    private string telefono { get; set; } = string.Empty;
    private string correo { get; set; } = string.Empty;
    private int currentImageIndex = 0;


    private CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();

    private readonly List<string> carouselImages = new List<string>
    {
        "/Img-Vector/Carrusel/carr1.png",
        "/Img-Vector/Carrusel/carr2.png",
        "/Img-Vector/Carrusel/carr3.png",
        "/Img-Vector/Carrusel/carr4.png",
        "/Img-Vector/Carrusel/carr5.png"
    };

    private string currentImage => carouselImages[currentImageIndex];

    protected override Task OnInitializedAsync()
    {
        _ = StartCarouselLoop();

        return Task.CompletedTask;
    }

    private async Task StartCarouselLoop()
    {
        var token = _cancellationTokenSource.Token;

        while (!token.IsCancellationRequested)
        {
            try
            {
                await Task.Delay(3000, token);
            }
            catch (TaskCanceledException)
            {
                return;
            }
            currentImageIndex = (currentImageIndex + 1) % carouselImages.Count;

            await InvokeAsync(StateHasChanged);
        }
    }

    private void LimpiarFormulario()
    {
        nombre = "";
        cedula = "";
        telefono = "";
        StateHasChanged();
    }
    private async Task ProcesarTurno()
    {
        if (string.IsNullOrWhiteSpace(nombre) || string.IsNullOrWhiteSpace(telefono))
        {
            return;
        }

        await Task.Delay(1000);


        var nombreCod = Uri.EscapeDataString(nombre);
        var telCod = Uri.EscapeDataString(telefono);
        var cedulacod = Uri.EscapeDataString(cedula);
        var correocod = Uri.EscapeDataString(correo);

        navigationManager.NavigateTo($"/seleccion-servicio?nombreCliente={nombreCod}&telefono={telCod}&cedula={cedulacod}&correo={correocod}");

        LimpiarFormulario();
    }

    // --- 5. LIMPIEZA ---
    public void Dispose()
    {
        // Detiene el bucle del carrusel cuando el componente se cierra
        _cancellationTokenSource.Cancel();
        _cancellationTokenSource.Dispose();
    }
}



